@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");



.question-overview {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8rem;
  color: #9082a3;
  margin: 0;
  text-transform: uppercase;
}

.question {
  display: flex;
  flex-direction: column;
  /* gap: 1rem;; */
}

.question h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #c1b2dd;
}

.question progress {
  width: 50%;
  height: 0.5rem;
  border-radius: 24px;
  background: #9e5ef8;
  margin: 0;
}

.question progress::-webkit-progress-bar {
  background: #6a558a;
  border-radius: 24px;
}

.question progress::-webkit-progress-value {
  background: #9e5ef8;
  border-radius: 24px;
}

.question progress.answered {
  background: #f8e59c;
}

.question progress.answered::-webkit-progress-value {
  background: #f8e59c;
}

.question progress.answered::-webkit-progress-bar {
  background: #6a558a;
}
